<div class=col-xs-12>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= best_practice.violation %></h3>
    </div>
    <div class="panel-body">
      <table class='table table-hover'>
        <thead>
          <tr>
            <td>
              More Info
            </td>
            <td>
              Location
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to "Fix", best_practice.more_info_url %></td>
            <td><%= link_to "Source", best_practice.github_url %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
