<div class=col-xs-12>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= criticism.name %></h3>
    </div>
    <div class="panel-body">
      <table class='table table-hover'>
        <thead>
          <tr>
            <td>
              Type
            </td>
            <td>
              Details
            </td>
            <td>
              Locations
            </td>
          </tr>
        </thead>
        <tbody>
          <% criticism.smells.each do |smell| %>
          <tr>
            <td><%= smell.type %></td>
            <td><%= smell.details %></td>
            <td>
              <ul>
              <% smell.locations.each do |location| %>
                <li><%= link_to "Source", location, target: "_blank"%> </li>
              <% end %>
              </ul>
            </td>
        </tr>
          <% end %>
        </tbody>
      </table>
    <ul>
    </ul>
    </div>
  </div>
</div>
