<h1>Projects</h1>
<%= link_to "Add your project", new_project_path %>
<div class="row">
  <ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project %></li>
  <% end %>
  </ul>
</div>
