<h1><%= @project.name %></h1>
<div class="github-url">
  Github Url: <%= link_to "Github", @project.github_url %>
</div>
<div class="heroku-url">
  Heroku Url: <%= link_to "Heroku", @project.heroku_url %>
</div>
