.screenshot-image {
  height: 300px;
  margin-left: 50px;
}

.project-urls li {
  list-style: none;
}

#screenshot-btn {
  margin-left: 35%;
}

.project-panel {
  padding: 10px;
}

#screenshot-taken-at {
  margin-left: 25%;
  margin-bottm: 3px;
}